.d1, .d2 {
 width: 50%;
 height: 200px;
}
.d1 {
 background-color: #BC8F8F;
}
.d2 {
   background-color: #F4A460;
}
.d3, .d4 {
 width: 50%;
 height: 200px;
 padding: 20px;
 border: 5px double brown;
}
.d3 {
 background-color: #ADD8E6;
 }
 .d4 {
   background-color: #E6E6FA;
   box-sizing: border-box;
 }
 h1, h4 {
   font-size: 40px;
   font-weight: normal;
   color: #EEE8AA;
   text-transform: uppercase;
   letter-spacing: 5px;
 }
.p1 {
  font-family: Verdana, serif;
}
.p1 span {
  font-family: 'Handlee', cursive;
}
.p2 {
  font-size: 24px;
}
.p2 span {
  color: coral;
}
.p3 {
  width: 40%;
}
.p3 span {
  display: block;
}
.p4 {
  border: 4px dotted black;
  font-size: 30px;
  color: #FFF5EE;
}
.p4 span{
  font-size: 20px;
}
.p5 {
  font-style: italic;
}
.p5 span {
  font-weight: bold;
}
.p6 {
  text-decoration: underline;
}
.p6 span {
  text-decoration: line-through;
}
.p7 {
  line-height: 26px;
}
.p7 span {
  text-transform: uppercase;
}
.p8 {
  text-indent: 30px;
}
.p8 span {
  background-color: yellow;
}
.p9 {
  background-color: silver;
}
.p9 span {
  background-color: white;
}
.p10 {
  font-family: Arial, Helvetica, sans-serif;
  color: #B22222;
  font-size: 30px;
}
.p10 span {
  text-decoration: underline;
}
